# 7.3 Project Milestone #2
author: Rachel Nelson

class: DSC550-T302 Data Mining (2215-1)

# Milestone 2: dimensionality/feature reduction and feature engineering steps
* Drop any features that are not useful for your model building. You should explain and justify why the feature dropped is not useful.
* address any missing data issues.
* Build any new features that you need for your model, e.g., create dummy variables for categorical features if necessary.

# Milestone 1: graphical analysis creating a minimum of four graphs

In [1]:
import pandas as pd
import yellowbrick
import matplotlib.pyplot as plt
import seaborn as sns
from yellowbrick.features import Rank2D

In [7]:
#Load the data
data = "C:/Users/emera/Downloads/avocado/avocado.csv"
data = pd.read_csv("C:/Users/emera/Downloads/avocado/avocado.csv")

In [4]:
# Look at the data
print(data.head(5))

   Unnamed: 0        Date  AveragePrice  Total Volume     4046       4225  \
0           0  2015-12-27          1.33      64236.62  1036.74   54454.85
1           1  2015-12-20          1.35      54876.98   674.28   44638.81
2           2  2015-12-13          0.93     118220.22   794.70  109149.67
3           3  2015-12-06          1.08      78992.15  1132.00   71976.41
4           4  2015-11-29          1.28      51039.60   941.48   43838.39

     4770  Total Bags  Small Bags  Large Bags  XLarge Bags          type  \
0   48.16     8696.87     8603.62       93.25          0.0  conventional
1   58.33     9505.56     9408.07       97.49          0.0  conventional
2  130.50     8145.35     8042.21      103.14          0.0  conventional
3   72.58     5811.16     5677.40      133.76          0.0  conventional
4   75.78     6183.95     5986.26      197.69          0.0  conventional

   year  region
0  2015  Albany
1  2015  Albany
2  2015  Albany
3  2015  Albany
4  2015  Albany

In [8]:
# drop feature "year" since I already have the date also dropped "unnamed" because it is not needed
data =  data.drop(columns=["year","Unnamed: 0"])
data.head(5)

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,Albany

In [13]:
# address any missing data issues
print(data.describe())
data.isnull().values.any()
# there is no missing data in the data set

       AveragePrice  Total Volume          4046          4225          4770  \
count  18249.000000  1.824900e+04  1.824900e+04  1.824900e+04  1.824900e+04
mean       1.405978  8.506440e+05  2.930084e+05  2.951546e+05  2.283974e+04
std        0.402677  3.453545e+06  1.264989e+06  1.204120e+06  1.074641e+05
min        0.440000  8.456000e+01  0.000000e+00  0.000000e+00  0.000000e+00
25%        1.100000  1.083858e+04  8.540700e+02  3.008780e+03  0.000000e+00
50%        1.370000  1.073768e+05  8.645300e+03  2.906102e+04  1.849900e+02
75%        1.660000  4.329623e+05  1.110202e+05  1.502069e+05  6.243420e+03
max        3.250000  6.250565e+07  2.274362e+07  2.047057e+07  2.546439e+06

         Total Bags    Small Bags    Large Bags    XLarge Bags
count  1.824900e+04  1.824900e+04  1.824900e+04   18249.000000
mean   2.396392e+05  1.821947e+05  5.433809e+04    3106.426507
std    9.862424e+05  7.461785e+05  2.439660e+05   17692.894652
min    0.000000e+00  0.000000e+00  0.000000e+00       0.000000
25%    5.088640e+03  2.849420e+03  1.274700e+02       0.000000
50%    3.974383e+04  2.636282e+04  2.647710e+03       0.000000
75%    1.107834e+05  8.333767e+04  2.202925e+04     132.500000
max    1.937313e+07  1.338459e+07  5.719097e+06  551693.650000

False

In [11]:
# create dummy variables for categorical features
features = ['type', 'region']
df = data[features]

# One Hot Encoding
df = pd.get_dummies(df)

# check the data
print(df.head(5))

   type_conventional  type_organic  region_Albany  region_Atlanta  \
0                  1             0              1               0
1                  1             0              1               0
2                  1             0              1               0
3                  1             0              1               0
4                  1             0              1               0

   region_BaltimoreWashington  region_Boise  region_Boston  \
0                           0             0              0
1                           0             0              0
2                           0             0              0
3                           0             0              0
4                           0             0              0

   region_BuffaloRochester  region_California  region_Charlotte  ...  \
0                        0                  0                 0  ...
1                        0                  0                 0  ...
2                        0                  0                 0  ...
3                        0                  0                 0  ...
4                        0                  0                 0  ...

   region_SouthCarolina  region_SouthCentral  region_Southeast  \
0                     0                    0                 0
1                     0                    0                 0
2                     0                    0                 0
3                     0                    0                 0
4                     0                    0                 0

   region_Spokane  region_StLouis  region_Syracuse  region_Tampa  \
0               0               0                0             0
1               0               0                0             0
2               0               0                0             0
3               0               0                0             0
4               0               0                0             0

   region_TotalUS  region_West  region_WestTexNewMexico
0               0            0                        0
1               0            0                        0
2               0            0                        0
3               0            0                        0
4               0            0                        0

[5 rows x 56 columns]